:root{	
	--background-gradient-color-soft-violet: hsl(273, 75%, 66%);
	--background-gradient-color-soft-blue: hsl(240, 73%, 65%);
	--text-primary-color-very-dark-desaturated-blue: hsl(238, 29%, 16%);
	--text-primary-color-soft-red: hsl(14, 88%, 65%);
	--text-neutral-color-very-dark-grayishblue: hsl(237, 12%, 33%);
	--text-neutral-color-dark-grayish-blue: hsl(240, 6%, 50%);
	--divires-color-light-grayish-blue: hsl(240, 5%, 91%);
	--font-size-default: 0.75rem;
	--font-size-title: 2rem;
	--font-size-question: 0.875rem;
	--border-radius: 1.875rem;
}

*{
	margin: 0;
	padding: 0;	
}

*::after,
*::before{
	box-sizing: border-box;
}

body{
	background-image: linear-gradient(
					  var(--background-gradient-color-soft-violet),
					  var(--background-gradient-color-soft-blue));	
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Kumbh Sans', sans-serif;	
	font-size: var(--font-size-default);
	padding: 1rem;
}

main{
	position: relative;
	background-color: #fff;
	box-shadow: 0rem 2rem 2rem  rgba(0, 0, 0, 0.2);
	border-radius: var(--border-radius);
	max-width: 56rem;
	display: flex;
	flex-wrap: wrap;
	background-image: url(../images/bg-pattern-desktop.svg);
	background-size: auto;
	background-repeat: no-repeat;
	background-position: -39rem -20rem;
}

.box-illustration{
	position: absolute;	
	top: 59%;
	left: 0;
	transform: translate(-50%,-50%);
	z-index: 1;
}

.container-images,
.container-faq{
	flex: 1;
}

.container-images{
	display: flex;
	align-items: center;
	overflow: hidden;
}

.container-images img{
	max-width: 30rem;
	width: 100%;
	transform: translateX(-5rem);
}

.container-text{
	padding: 5rem 5rem 5rem 1rem;
}

h1{
	padding-bottom: 1.5rem;
	font-size: var(--font-size-title);	
}

.container-question{	
	padding: 1rem 1rem .8rem 0;		
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	font-size: var(--font-size-question);	
	transition: all .4s ease-in-out;
}

.container-question::after{
	content: "";
	display: block;	
	width: .625rem;
	height: .625rem;
	background-image: url(../images/icon-arrow-down.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	transition: all .4s ease-in-out;
}

.container-question:hover{
	font-weight: 400;
	color: var(--text-primary-color-soft-red);
}

.container-question:active{
	color: #000;
	font-weight: 700;
}

.arrow-icon{
	transition: all .4s ease-in-out;
}

.container-answer{	
	border-bottom: .063rem solid var(--divires-color-light-grayish-blue);
	line-height: 1.4;
	color: var(--text-neutral-color-dark-grayish-blue);
	max-height: 0;
	overflow: hidden;
	transition: .4s;
}

/* Class for add with JavaScript */

.active{
	font-weight: 700;
}

.active::after{
	transform: rotate(180deg);
}

/* When my container-question has the active class, its brother container-answer executes this code below */
.container-question.active + .container-answer{
	max-height: 8rem;
	padding: 0 0 1rem 0;
	border-bottom: .063rem solid var(--divires-color-light-grayish-blue);
}

/* Responsive*/
@media screen and (max-width:56rem) {
	main{
		width: 100%;
		flex-direction: column;
		background-image: url(../images/bg-pattern-mobile.svg);
		background-repeat: no-repeat;
		background-position: center 0%;
		background-size: 25rem;
	}

	.box-illustration{		
		display: none;
	}

	.container-images img{
		position: absolute;
		top: -11rem;
		left: 50%;
		transform: translateX(-50%);
		display: block;
		max-width: 25rem;		
		width: 100%;
		height: auto;
	}

	.container-faq{
		padding-top: 8rem;
	}

	.container-text{
		padding: 5rem 1.5rem 3rem 1.5rem;	
	}

	h1{		
		text-align: center;
	}

	.container-question{			
		padding: 1rem 0rem;	
	}
}

@media screen and (max-width:34rem){
	main{
		margin: 8rem 0;
		background-size: 16rem;
	}

	.container-images img{		
		top: -7rem;		
		max-width: 16rem;				
	}

	.container-faq{
		padding-top: 4rem;
	}
}