:root{	
	--background-gradient-color-soft-violet: hsl(273, 75%, 66%);
	--background-gradient-color-soft-blue: hsl(240, 73%, 65%);
	--text-primary-color-very-dark-desaturated-blue: hsl(238, 29%, 16%);
	--text-primary-color-soft-red: hsl(14, 88%, 65%);
	--text-neutral-color-very-dark-grayishblue: hsl(237, 12%, 33%);
	--text-neutral-color-dark-grayish-blue: hsl(240, 6%, 50%);
	--divires-color-light-grayish-blue: hsl(240, 5%, 91%);
	--font-size-default: 0.75rem;
	--font-size-title: 2rem;
	--font-size-question: 0.875rem;
	--border-radius: 1.875rem;
}

*{
	margin: 0;
	padding: 0;	
}

*::after,
*::before{
	box-sizing: border-box;
}

body{
	background-image: linear-gradient(180deg,
					  var(--background-gradient-color-soft-violet),
					  var(--background-gradient-color-soft-blue));
	max-width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Kumbh Sans', sans-serif;	
	font-size: var(--font-size-default);
}

main{
	background-color: #fff;
	border-radius: var(--border-radius);
	width: 919px;
	height: 509px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1rem;
	box-shadow: 0rem 3rem 1rem -1rem rgba(0, 0, 0, 0.1);
}

.container-images,
.container-faq{
	flex: 1 1;
}

.container-images::after{	
	display: block;
	content: "";	
	height: 100%;
	background-image: url(../images/illustration-woman-online-desktop.svg);
	background-repeat: no-repeat;
	background-position: -5rem 5rem;
	background-size: 99%;	
}

.container-images{	
	position: relative;
		
	height: 100%;	
	background-image: url(../images/bg-pattern-desktop.svg);
	background-repeat: no-repeat;
	background-position: 115% 70%;	
}

.box-illustration{	
	position: absolute;
	top: 40%;
	left: -20%;
}

.container-question,
.container-answer{
	width: 70%;
}

h1{
	font-size: var(--font-size-title);
	margin-left: 1rem;
	margin-bottom: 1rem;
}

.container-question{
	margin-left: 1rem;
	display: flex;
	padding: 1rem 1rem 1rem 0;	
	justify-content: space-between;
	align-items: center;	
	border-bottom: .125rem solid var(--divires-color-light-grayish-blue);
	font-size: var(--font-size-question);
	cursor: pointer;
}

.title-question:hover{
	color: var(--text-primary-color-soft-red);
}
.title-question:active{
	color: #000;
	font-weight: 700;
}
.container-answer{
	display: none;
	margin-left: 1rem;
	color: var(--text-neutral-color-dark-grayish-blue);
}